@import './../../variables.styl'


.root
    width: 1032px
    padding: 0 $xs
    margin: 0 auto

// elements
.container
    padding: $xxl 0
    text-align: center

.title
    text-transform: uppercase
    margin-bottom: $s

.text
    margin-bottom: $xs

.image
    height: 400px
    width: auto

// modifiers
