html, body,
section, aside, article, header, footer, nav,
div, span, p, a,
h1, h2, h3, h4, h5, h6,
strong, b, em, i,
dl, dt, dd, ol, ul, li,
table, tbody, tfoot, thead, tr, th, td,
form, label,
img, audio, video, iframe, canvas
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font-family: inherit
    box-sizing: border-box

body
    line-height: 1

ol, ul
    list-style: none

table
    border-collapse: collapse
    border-spacing: 0

input, textarea, button
    font-size: 100%
    font-family: inherit
    box-sizing: border-box

input, textarea
    &:focus
        outline: none

a
    text-decoration: none
