// COLORS
$main_color = #6200EA
$secondary_color = #6200EA

$grey_color_light = #FAFAFF
$grey_color = #636363
$grey_color_dark = #212121

// SIZES
$xxs = 8px
$xs = 16px
$s = 24px
$m = 32px
$l = 40px
$xl = 48px
$xxl = 64px

// SHADOW
$shadow = rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px
$inset_shadow = rgba(0, 0, 0, 0.12) 0 1px 6px inset
